[submodule "src/.vim/pack/git-plugins/opt/onedark.vim"]
	path = src/.vim/pack/git-plugins/opt/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
[submodule "src/.vim/pack/git-plugins/start/ale"]
	path = src/.vim/pack/git-plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "src/.vim/pack/git-plugins/start/vim-polyglot"]
	path = src/.vim/pack/git-plugins/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "src/.vim/pack/git-plugins/start/vim-tmux-navigator"]
	path = src/.vim/pack/git-plugins/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "src/.tmux/plugins/tmux-sensible"]
	path = src/.tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible.git
[submodule "src/.tmux/plugins/tpm"]
	path = src/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "src/.tmux/plugins/vim-tmux-navigator"]
	path = src/.tmux/plugins/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "src/oh-my-zsh"]
	path = src/oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "src/.oh-my-zsh"]
	path = src/.oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "src/.zsh/pure"]
	path = src/.zsh/pure
	url = git@github.com:sindresorhus/pure.git
[submodule "src/.zsh/plugins/zsh-autosuggestions"]
	path = src/.zsh/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "src/.vim/pack/git-plugins/start/omnisharp-vim"]
	path = src/.vim/pack/git-plugins/start/omnisharp-vim
	url = git@github.com:OmniSharp/omnisharp-vim.git
[submodule "src/.vim/pack/git-plugins/start/vim-fugitive"]
	path = src/.vim/pack/git-plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "src/.vim/pack/git-plugins/start/vim-dirvish"]
	path = src/.vim/pack/git-plugins/start/vim-dirvish
	url = git@github.com:justinmk/vim-dirvish.git
[submodule "src/.vim/pack/git-plugins/opt/vim-monochrome"]
	path = src/.vim/pack/git-plugins/opt/vim-monochrome
	url = git@github.com:fxn/vim-monochrome.git
